body {
  background-color: #fff8ee;
  font-family: Arial, Helvetica, sans-serif;
}

 .App {
  text-align: left;
  display: flex;
  flex-direction: column;
  /* background-color: #F3C3B0; */
}

.Header {
  display: flex;
  justify-content: left;
  align-items: left;
  padding-left: 30px;
  width: 100%;
  background-color: #F9DCC5;
  /* color: #333; */
}

.Friend {
  background-color: #FFF8EE;
  border-radius: 20px;
  padding-left: 20px;
  margin: 10px;
}

.Content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.LeftColumn {
  /* flex: 1; */
  /* text-align: center; */
  background-color: #F9DCC5;
  margin-right: 20px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
  flex-basis: 45%;
}

.RightColumn {
  /* flex: 1; */
  /* text-align: center; */
  background-color: #F9DCC5;
  margin-left: 20px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
  flex-basis: 45%;
}

.Component {
  background-color: #F3C3B0;
  border-radius: 20px;
  padding-left: 20px;
  padding: 10px;
  margin: 10px;
}

.Button {
  background-color: #E6896B;
  border-radius: 10px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding-left: 0;
}